@font-face {
  font-family: AllerDisplay;
  src: url(fonts/AllerDisplay.ttf);
}
@font-face {
  font-family: Aller_Bd;
  src: url(fonts/Aller_Bd.ttf);
}
@font-face {
  font-family: Aller_Lt;
  src: url(fonts/Aller_Lt.ttf);
}

.toolbar {
  position: absolute;
  top: 0vh;
  left: 0vh;
  display: flex;
  justify-content: flex-end;
  flex-flow: row;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 3.5vh;
  width: 100%;
  background-color: lightcyan;
  font-family: Aller_Bd;
}
.toolbar-tools {
  position: relative;
  display: flex;
  margin: 3%;
  height: auto;
  width: auto;
}

.box-main {
  /*box arrangement*/
  position: center;
  top: 0vh;
  left: 0vh;
  display: flex;
  justify-content: auto;
  flex-flow: column;
  align-items: auto;
  padding: 0px;
  margin: 20%;
  margin-top: 0%;
  margin-bottom: 0%;
  height: 90%;
  width: auto;
  max-width: auto;
  background-color: rgb(146, 185, 190);

  /*text*/
  text-align: center;
}

.box-left {
  /*box arrangement*/
  position: relative;
  display: flex;
  justify-content: left;
  flex-flow: column;
  align-items: center;
  padding: 0px;
  margin-top: 5%;
  margin-bottom: 0;
  height: 100%;
  width: 30%;
  max-width: 30%;
  background-color: rgb(79, 93, 170);

  /*text*/
  text-align: center;
}

.text-image {
  max-height: 15vh;
  max-width: auto;
}
.album {
  background: rgb(146, 185, 190);
  padding: 5px;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 10px;
  text-align: center;  
}

.barrabotones {
background-image: url("images/favicon.png");

  background-color: lightcyan;
  position: absolute;
  bottom: -50vh;
  right: 0vh;
  display: flex;
  justify-content: end;
  flex-flow: row;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 10vh;
  width: 50vw;
  color: red;
}

.botones {
  background-color: blue;
  position: relative;
  padding: 5px;
  margin: 5px;
  list-style: none;
  max-width: auto;
  max-height: 100%;
  color: yellow;
}

.imagenboton {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: red;
  width: auto;
  max-height: 8vh;
}